ol {
    background-color: yellow;
}

ol li:nth-child(2n) {
    color: green;
}

ol li:nth-child(2n+1) {
   text-transform: uppercase;
}

h1, h2 {
    color: red;
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

ol li {
    font-weight:bold;
}

ul li:nth-child(1) {
    color: blue
}

ul li:nth-child(2) {
    color: blue
}

ul li:nth-child(3) {
    color: blue
}

.desenvolvedora:hover {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.desenvolvedora #stac {
    color: orange;
}

.desenvolvedora #w3 {
    color: green;
}

.desenvolvedora #mdn {
    color: black;
}

.desenvolvedora #dev {
    color: yellow;
}

.desenvolvedora #trybe {
    color: green;
}